.tablewrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.table {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
    white-space: nowrap;
    width: 100rem;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.table thead {
   background-color: #ccc;
   color: black;
}

.table th,
.table td {
    padding: 0.8rem
}

.table td {
    border-top: 0,5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.title {
    width: 100%;
}