.navbar {
    background-color: black;
}

.logo {
    width: 100px
}

.navItems {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}