.tablewrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.table {
    display: flex;
    justify-content:center;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
    width: 80rem;
    max-width: 120%;
    margin: 10px auto;
    overflow-x: auto;
    border: 1px solid #ddd;
}

.table td {
    padding: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-evenly;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.header {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.creatTask {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 40%;
}

.date {
    width: 30%;     
}
.submit {
    width: 30%;
}